@import "bootstrap"
@import "colors"

.jumbotron
    padding: 1rem 2rem !important
    .breadcrumb
        padding: 0rem 1rem !important

html, body
    font-size: 1rem
    word-wrap: break-word

h1
    color: $color-logo

.text-danger
    font-weight: bold
    font-size: 1.3em

.breadcrumb
    span
        font-weight: normal !important
        font-size: 1em !important

.overflow-td
    overflow: auto
    white-space: nowrap
    text-overflow: ellipsis

.fixed-table
    table-layout: fixed
