@import "bootstrap"
@import "fontawesome"
@import "colors"

html,
body
    background-color: $bg-color
    width: 350px
    line-height: 1

header > a
    text-decoration: none !important
    padding: 10px
    background-color: $main-color
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

header > a > #headline > #headline-name
    font-size: 1.3rem
    color: $logo-text-color
    font-weight: bold

header > a > #headline > #headline-sub
    font-size: .9rem
    color: $text-dark-color

header > a > #logo > img
    width: 28px

section
    color: $text-dark-color

section > .content
    padding: 5px

section > .content > .empty-section
    padding: 10px 20px

section > .content > .empty-section > .title
    font-size: 1.3rem
    text-align: center
    font-weight: bold

section > .content > .empty-section > .description
    font-size: 1.1rem

section > .content > .non-empty-section
    display: flex
    flex-direction: column

section > .content > .non-empty-section > .metrics > .metrics-row
    display: flex
    flex-wrap: wrap
    justify-content: space-around

section > .content > .non-empty-section > .metrics > .metrics-row > .metric
    display: flex
    flex-direction: column
    font-size: 2rem
    margin: 5px

section > .content > .non-empty-section > .metrics > .metrics-row:nth-child(n+2)
    margin-top: 10px

section > .content > .non-empty-section > .metrics > .metrics-row:nth-child(2) > .metric
    font-size: 1.6rem
    flex-basis: 30%

section > .content > .non-empty-section > .metrics > .metrics-row > .metric > .value
    font-weight: bold
    text-align: center

section > .content > .non-empty-section > .metrics > .metrics-row > .metric > .value > .unit
    font-size: 0.6em

section > .content > .non-empty-section > .metrics > .metrics-row > .metric > .description
    font-size: 0.5em
    text-align: center

section > .content > .non-empty-section > a.btn
    margin: auto
    margin-top: 5px

section > .title
    background-color: $main-color-light1
    color: $text-dark-color
    padding: 5px

section > .title > h1
    text-align: right
    margin: 0
    font-size: 1.2rem

section > .title > h2
    text-align: right
    margin: 0
    font-size: 0.9rem

section#website .website-title
    background-color: $main-color-light2
    color: $text-dark-color
    font-size: 1rem
    margin: 5px
    padding: 5px
    border-radius: 3px
    display: flex
    align-items: center
    border: 2px solid $main-color-light1
    border-top: 0
    border-bottom: 0

section#website #website-title-favicon
    margin-right: 6px
    width: 16px
    height: 16px

section#website #website-title-favicon > img
    width: 16px
    height: 16px

section#others
    background-color: $main-color

section#others > .content
    display: flex
    flex-direction: row
    justify-content: space-between
    font-size: 0.95rem

section#others > .content > div > a,
section#others > .content
    color: $text-dark-color
